<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Granted by Apple 2026-08-04. Driving Task allows CPListTemplate, CPGridTemplate,
	     CPInformationTemplate, CPTabBarTemplate, CPAlertTemplate and CPActionSheetTemplate,
	     to a maximum depth of five. -->
	<key>com.apple.developer.carplay-driving-task</key>
	<true/>
</dict>
</plist>
